.weather-card {
  display: flex;
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 1;
  flex-grow: 0;
  max-width: 100%;
}

.weather-card__temp {
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  margin: 0;
  position: absolute;
  margin: 20px 0 0 16px;
}

.weather-card__image {
  object-fit: cover;
  object-position: right top;
  width: 100%;
  max-width: 100%;
}
