.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 20px;
  line-height: 24px;
  max-width: 1360px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__toggle-switch {
  margin: 0 20px 0 auto;
}

.header__add-clothes-btn {
  margin: 0 20px 0 0;
  border: none;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
}

.header__log-in-btn {
  margin: 0 20px 0 0;
  border: none;
}

.header__log-in-btn:hover {
  cursor: pointer;
}

.header__register-btn {
  margin: 0 20px 0 0;
  border: none;
}

.header__register-btn:hover {
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__profile-link {
  text-decoration: none;
  color: black;
}

.header__username {
  margin: 0;
}
