.footer__container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.footer {
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* max-width: 1360px; */
  /* padding: 0 0 24px 0; */
  /* margin: auto auto 0; */
  box-sizing: border-box;
}
